:root {
    --preto:#000000;
    --marrom:#000000;
    --laranja-claro:#E5B972;
    --laranja:#DE8A27;
}
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body {
	height:100dvh;
	max-width:100%;
}


body,h1,input,textarea,select{

	font-family:sans-serif;
	border:1.5px solid var(--laranja);
}
textarea {
	width: 100%;
    	height: 6rem;
	resize: none;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
	color: black;
	box-shadow: 1px 10px 74px -15px rgba(0, 0, 0, 0.75);
	text-align: left;
	padding: 20px;
	font-family: sans-serif;
}


.f_container {
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	height:100dvh;
}
form {
	width: 45%;
	height: 80%;
    background-color:white;
	display: flex;
    flex-direction: column;
	align-items: center;
    padding: 3rem;
    justify-content: space-around;
	border-radius: 20px;
	gap: 15px;
    box-shadow: 1px 10px 39px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 39px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 39px -9px rgba(0,0,0,0.75);
}

form label {
    text-align: left;
    align-self: flex-start;
    margin-bottom: -10px;
    font-weight: bold;
    color: black;
}

select {
	width: 100%;
	background-color: black;

	height: 2.5rem;
	border-radius: 8px;
	padding: 0 10px;
	color: white;
    cursor: pointer;
}


input{

	width:100%;
	background-color:var(--preto);
    opacity: 0.5;
	height:3.5rem;

	border-radius:10px;
    transition: transform 0.3s ease-in-out;
    color:white;
    box-shadow: 1px 10px 74px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 74px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 74px -15px rgba(0,0,0,0.75);
    text-align: left;
    padding: 20px;
}
input:hover {
    transform:scale(1.02);
}
input:focus {
    transform: scale(1.08);
    outline: none;
    box-shadow: 1px 10px 39px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 39px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 39px -6px rgba(0,0,0,0.75);
}

textarea:hover{
	transform:scale(1.02);
}
textarea:focus{

	transform:scale(1.04);
	outline:none;
	border:1.5px solid var(--laranja);
	box-shadow:1px 10px 39px -6px rgba(0,0,0,0.75);
	-webkit-box-shadow:1px 10px 39px -6px rgba(0,0,0,0.75);
	-moz-box-shadow:1px 10px 39px -6px rgba(0,0,0,0.75);

}

button {
	width: 100%;
	height: 3rem;
	background-color: black;
	color: white;
	border: none;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.3s;
}

button:hover {
	background-color: var(--laranja);
}

@media (min-width:700px) and (max-width:1500px) {

    form {
        width: 45%;
        height: 95%;
        background-color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        justify-content: space-around;
        border-radius: 20px;
        gap: 15px;
        box-shadow: 1px 10px 39px -9px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 10px 39px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 10px 39px -9px rgba(0,0,0,0.75);
    }

    form label {
        text-align: left;
        align-self: flex-start;
        margin-bottom: -10px;
        font-weight: bold;
        color: black;
    }

    select {
        width: 100%;
        background-color: black;

        height: 2.5rem;
        border-radius: 8px;
        padding: 0 10px;
        color: white;
        cursor: pointer;
    }




}

    @media (max-width:720px) {

    form {
        width:auto;
        height: 100dvh;
        background-color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        justify-content: space-around;
        border-radius: 20px;
        gap: 15px;
        box-shadow:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
    }

    form label {
        text-align: left;
        align-self: flex-start;
        margin-bottom: -10px;
        font-weight: bold;
        color: black;
    }

    select {
        width: 100%;
        background-color: black;

        height: 3rem;
        border-radius: 8px;
        padding: 0 10px;
        color: white;
        cursor: pointer;
    }

    button {
        width: 100%;
        height: 3.3rem;
        background-color: black;
        color: white;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s;
    }

    }
